{% extends "base.html "%}

{% block content %}
<h2>la liste des conferences</h2>
<a href="{% url 'Conference_add'  %}">Ajouter des conferences</a><br>
<table border ="1">
    
    <tr>
        <td>title</td>
        <td>location</td>
        <td>action</td>
    </tr>
{% for c in liste %}
    <tr>
        <td>{{c.name}}</td>
        <td>{{c.location}}</td>
        <td>
            <a href="{% url 'Conference_detail' c.pk %}">détails</a><br></td>
        <td>
            <a href="{% url 'Conference_edit' c.pk %}">modifier</a>
        </td>
        <td>
            <a href="{% url 'Conference_delete' c.pk %}">supprimer</a>
        </td>
        
    </tr>
{% endfor %}
</table>
{% endblock%}